CANTON_CLIENT_ID=hackathon
CANTON_CLIENT_SECRET=replace-with-client-secret
CANTON_AUTH_BASE=https://auth.dev.digik.cantor8.tech
CANTON_VALIDATOR_BASE=https://api.validator.dev.digik.cantor8.tech/api/validator
CANTON_LEDGER_BASE=https://api.validator.dev.digik.cantor8.tech/api/ledger
